.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.fieldRow {
    display: flex;
}

.fieldCell {
    width: 24px;
    height: 24px;
    background-image: url('../../../public/assets/mines/empty.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    cursor: default;
}

.fieldCellSVG {
    max-width: 25px;
    width: 100%;
}