.value□ {
    color: transparent;
}

.value0 {
    color: transparent;
    background-image: url('../public/assets/mines/0.svg') !important;
}

.value1 {
    color: transparent;
    background-image: url('../public/assets/mines/1.svg') !important;
}

.value2 {
    color: transparent;
    background-image: url('../public/assets/mines/2.svg') !important;
}

.value3 {
    color: transparent;
    background-image: url('../public/assets/mines/3.svg') !important;
}

.value4 {
    color: transparent;
    background-image: url('../public/assets/mines/4.svg') !important;
}

.value5 {
    color: transparent;
    background-image: url('../public/assets/mines/5.svg') !important;
}

.value6 {
    color: transparent;
    background-image: url('../public/assets/mines/6.svg') !important;
}

.value7 {
    color: transparent;
    background-image: url('../public/assets/mines/7.svg') !important;
}

.value8 {
    color: transparent;
    background-image: url('../public/assets/mines/8.svg') !important;
}

.valueB {
    color: transparent;
    background-image: url('../public/assets/mines/mine.svg') !important;
}

.flagged {
    color: transparent;
    background-image: url('../public/assets/mines/flag.svg') !important;
}

.cleared {
    border: 2px solid gold;
}